body{

    margin: 0px;
}
.main_div{
    position: absolute;
width: 1440px;
height: 68px;
left: 0px;
top: 0px;
   margin: 0 auto;
    padding: 0px;
}
.text_conec11{
	position: absolute;

left: 24px;
top: 11px;
}
.ing1{
	color: #000000;
}
a{
  text-decoration: none;
} 
a:hover { 
    color: red;
}
.main_cenor{
        position: relative;
max-width: 1440px;
height: 1024px;
    margin: 0 auto;
}
.button_class218{
	position: absolute;
width: 34px;
height: 22px;
left: 1126px;
top: 562px;
}
.img_main{
    position: absolute;
width: 1440px;
height: 680px;
left: 0px;
top: 68px;
}
.blocconec{
  position: absolute;
width: 1440px;
height: 276px;
left: 0px;
top: 748px;

background: radial-gradient(92.28% 1029.66% at 50% 405.95%, rgba(255, 255, 255, 0) 0%, #6E1FDF 100%), radial-gradient(100% 947.94% at 100% 313.68%, #1AC1E6 0.62%, #BE2FCD 100%);
}
.lineaconec{
 position: absolute;
width: 1445.5px;
height: 1px;
left: 0px;
top: 975.5px;

border: 0.1px solid rgba(255, 255, 255, 0.5);
}
.text_conec1{
position: absolute;
width: 90px;
height: 16px;
left: 756px;
top: 775px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_conec2{
    position: absolute;
width: 192px;
height: 16px;
left: 578px;
top: 775px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_conec3{
  position: absolute;
width: 281px;
height: 69px;
left: 153px;
top: 844px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;

color: #000000;


}
.text_conec4{
  position: absolute;
width: 204px;
height: 24px;
left: 153px;
top: 927px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;

}
.text_conec5{
   position: absolute;
width: 310px;
height: 18px;
left: 153px;
top: 981px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);

}
.text_conec6{
    position: absolute;
width: 284px;
height: 18px;
left: 486px;
top: 981px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);

}
.text_conec7{
   position: absolute;
width: 200px;
height: 18px;
left: 959px;
top: 981px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);

}
.text_conec8{
   position: absolute;
width: 114px;
height: 18px;
left: 1186px;
top: 981px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);

}
.text_conec10{
    position: absolute;
width: 314px;
height: 90px;
left: 1007px;
top: 784px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;

color: #000000;

}
.img11{
   position: absolute;
width: 214px;
height: 46px;
left: 153px;
top: 758px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text_main1{
position: absolute;
width: 188px;
height: 21px;
left: 64px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;


}

.imgMainADD{
    position: absolute;
width: 960px;
height: 640px;
left: 16px;
top: 88px;
}
.text_main2{
    position: absolute;
width: 190px;
height: 21px;
left: 290px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;

}
.text_main3{
    position: absolute;
width: 85px;
height: 21px;
left: 530px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;

}
.text_main4{
    position: absolute;
width: 55px;
height: 21px;
left: 665px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;
}
.text_main5{
position: absolute;
width: 254px;
height: 21px;
left: 891px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-decoration-line: underline;

color: #000000;


}
.text_main6{
    position: absolute;
width: 184px;
height: 21px;
left: 1169px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;
    
}
.img12{
  position: absolute;
width: 24px;
height: 24px;
left: 1354px;
top: 40px;   
}
.divclovo{
    position: absolute;
width: 446px;
height: 640px;
left: 994px;
top: 88px;

background: rgba(213, 179, 222, 0.6);
}
.main_div_bloc2{
    position: absolute;
width: 628px;
height: 107px;
left: 406px;
top: 558px;

background: #D4DEDF;
}
.main_div_bloc_text1{
    position: absolute;
width: 156.74px;
height: 28px;
left: 468px;
top: 205px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.main_div_bloc_text2{
    position: absolute;
width: 433.14px;
height: 42px;
left: 468px;
top: 250px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;

color: #70837D;
}
.main_div_bloc_text3{
position: absolute;
width: 178px;
height: 28px;
left: 468px;
top: 575px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.button_class{
    position: absolute;
width: 171.56px;
height: 54px;
left: 800px;
top: 585px;

    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

    
    
background: #55C2E1;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 10px;
}
.button_class1{
    position: absolute;
width: 504.09px;
height: 54px;
left: 468px;
top: 347px;

    
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: rgba(0, 0, 0, 0.5);  
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 10px;
}
.button_class2{
    position: absolute;
width: 504.09px;
height: 54px;
left: 468px;
top: 437px;

    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: rgba(0, 0, 0, 0.5);
  
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
border-radius: 10px;
}
.a_text_main_bloc{
    color: #000000;

}
.text_in_textcontnr1{
    color: white;
}
.text_in_textcontnr2{
    color: white;
}
/* конец шаблона*/



.regAnket{
    position: absolute;
width: 601px;
height: 510px;
left: 406px;
top: 159px;

background: #C4C4C4;
}
.text1{
    position: absolute;
width: 244px;
height: 28px;
left: 585px;
top: 168px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.line{
    position: absolute;
width: 377px;
height: 2px;
left: 504px;
top: 227px;

background: #000000;
}
.text2{
    position: absolute;
width: 39px;
height: 19px;
left: 451px;
top: 281px;


font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text3{
    position: absolute;
width: 85px;
height: 19px;
left: 881px;
top: 281px;


font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text4{
    position: absolute;
width: 82px;
height: 19px;
left: 451px;
top: 339px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text5{
    position: absolute;
width: 128px;
height: 19px;
left: 848px;
top: 339px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text6{
    position: absolute;
width: 81px;
height: 19px;
left: 451px;
top: 397px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text7{
    position: absolute;
width: 126px;
height: 19px;
left: 850px;
top: 397px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text8{
    position: absolute;
width: 188px;
height: 19px;
left: 451px;
top: 489px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text9{
    position: absolute;
width: 45px;
height: 19px;
left: 921px;
top: 489px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text10{
    position: absolute;
width: 29px;
height: 19px;
left: 416px;
top: 632px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.imgNext{
    position: absolute;
left: 60.7%;
right: 36.69%;
top: 60.9%;
bottom: 34.74%;

}
.imgNext2{
    position: absolute;
left: 35.49%;
right: 61.91%;
top: 60.99%;
bottom: 34.66%;

}
.in1{
    position: absolute;
width: 263px;
height: 30px;
left: 439px;
top: 318px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in2{
    position: absolute;
width: 263px;
height: 30px;
left: 711px;
top: 318px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in3{
    position: absolute;
width: 263px;
height: 30px;
left: 439px;
top: 376px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;    
}
.in4{
    position: absolute;
width: 263px;
height: 30px;
left: 711px;
top: 376px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in5{
    position: absolute;
width: 263px;
height: 30px;
left: 439px;
top: 434px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in6{
    position: absolute;
width: 263px;
height: 30px;
left: 711px;
top: 434px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in7{
    position: absolute;
width: 263px;
height: 30px;
left: 439px;
top: 526px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in8{
    position: absolute;
width: 263px;
height: 30px;
left: 711px;
top: 526px;

background: rgba(225, 223, 223, 0.7);
border: 1px solid #000000;    

box-sizing: border-box;
border-radius: 7px;
}
.text11{
    position: absolute;
width: 133px;
height: 19px;
left: 491px;
top: 239px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text12{
    position: absolute;
width: 143px;
height: 19px;
left: 491px;
top: 302px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text13{
    position: absolute;
width: 181px;
height: 19px;
left: 748px;
top: 302px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.in9{
    position: absolute;
width: 431px;
height: 30px;
left: 491px;
top: 278px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in10{
    position: absolute;
width: 174px;
height: 30px;
left: 491px;
top: 341px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in11{
    position: absolute;
width: 174px;
height: 30px;
left: 748px;
top: 341px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.in12{
    position: absolute;

left: 491px;
top: 411px;


}
.in13{
    position: absolute;

left: 748px;
top: 411px;


}
.in14{
    position: absolute;
width: 174px;
height: 30px;
left: 491px;
top: 461px;

background: rgba(225, 223, 223, 0.7);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.in15{
    position: absolute;
width: 174px;
height: 30px;
left: 748px;
top: 461px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.text14{
    position: absolute;

height: 19px;
left: 497px;
top: 425px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}
.text15{
    position: absolute;

height: 19px;
left: 748px;
top: 425px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}
.text16{
    position: absolute;
width: 256px;
height: 19px;
left: 440px;
top: 230px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text17{
    position: absolute;
width: 148px;
height: 19px;
left: 752px;
top: 230px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}
.text18{
    position: absolute;
width: 256px;
height: 38px;
left: 440px;
top: 300px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text19{
    position: absolute;
width: 239px;
height: 38px;
left: 751px;
top: 293px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text20{
    position: absolute;
width: 324px;
height: 19px;
left: 440px;
top: 380px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text21{
    position: absolute;
width: 198px;
height: 19px;
left: 440px;
top: 457px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text22{
    position: absolute;
width: 238px;
height: 19px;
left: 751px;
top: 457px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text23{
    position: absolute;
width: 279px;
height: 19px;
left: 440px;
top: 519px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text24{
    position: absolute;
width: 207px;
height: 19px;
left: 751px;
top: 519px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.inp16{
    position: absolute;
width: 174px;
height: 30px;
left: 474px;
top: 263px;
border: 2px solid #8A1313;
background: rgba(225, 223, 223, 0.7);

box-sizing: border-box;
border-radius: 7px;
}
.inp17{
    position: absolute;
width: 174px;
height: 30px;
left: 751px;
top: 263px;
border: 2px solid #8A1313;
background: rgba(225, 223, 223, 0.7);

box-sizing: border-box;
border-radius: 7px;
}
.inp18{
    position: absolute;
width: 174px;
height: 30px;
left: 474px;
top: 345px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inp19{
    position: absolute;
width: 173px;
height: 30px;
left: 752px;
top: 345px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inp20{
    position: absolute;
width: 451px;
height: 30px;
left: 474px;
top: 414px;
border: 2px solid #8A1313;
background: rgba(225, 223, 223, 0.7);

box-sizing: border-box;
border-radius: 7px;
}
.inp21{
    position: absolute;

height: 30px;
left: 474px;
top: 488px;


}
.inp22{
    position: absolute;

height: 30px;
left: 751px;
top: 488px;


}
.inp23{
    position: absolute;
width: 174px;
height: 30px;
left: 474px;
top: 556px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inp24{
    position: absolute;
width: 174px;
height: 30px;
left: 751px;
top: 556px;
border: 2px solid #8A1313;
background: rgba(225, 223, 223, 0.7);

box-sizing: border-box;
border-radius: 7px;
}
.text25{
    position: absolute;
width: 134px;
height: 19px;
left: 474px;
top: 225px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text26{
    position: absolute;
width: 147px;
height: 19px;
left: 752px;
top: 225px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text27{
    position: absolute;
width: 256px;
height: 19px;
left: 474px;
top: 307px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text28{
    position: absolute;
width: 220px;
height: 38px;
left: 751px;
top: 292px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;


}
.text29{
    position: absolute;
width: 372px;
height: 19px;
left: 474px;
top: 380px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text30{
    position: absolute;
width: 264px;
height: 38px;
left: 474px;
top: 440px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}
.text31{
    position: absolute;
width: 240px;
height: 38px;
left: 751px;
top: 440px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text32{
    position: absolute;
width: 94px;
height: 19px;
left: 474px;
top: 527px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}
.inpr25{
    position: absolute;
width: 174px;
height: 30px;
left: 474px;
top: 263px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inpr26{
    position: absolute;
width: 174px;
height: 30px;
left: 751px;
top: 263px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inpr27{
    position: absolute;
width: 174px;
height: 30px;
left: 474px;
top: 345px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inpr28{
    position: absolute;
width: 173px;
height: 30px;
left: 752px;
top: 345px;

background: rgba(225, 223, 223, 0.7);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.inpr29{
    position: absolute;
width: 451px;
height: 30px;
left: 474px;
top: 414px;

background: rgba(225, 223, 223, 0.7);
border: 2px solid #8A1313;
box-sizing: border-box;
border-radius: 7px;
}
.inpr30{
    position: absolute;
width: 174px;
height: 30px;
left: 474px;
top: 494px;

background: rgba(225, 223, 223, 0.7);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.inpr31{
    position: absolute;
width: 174px;
height: 30px;
left: 751px;
top: 494px;
}
.inpr32{
    position: absolute;
width: 451px;
height: 30px;
left: 474px;
top: 563px;

background: rgba(225, 223, 223, 0.7);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.t1ext1{
    position: absolute;
width: 342px;
height: 28px;
left: 549px;
top: 169px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.l1ine{
    position: absolute;
width: 377px;
height: 2px;
left: 524px;
top: 225px;

background: #000000;
}
.t1ext2{
    position: absolute;
width: 255px;
height: 19px;
left: 508px;
top: 245px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}
.t1ext3{
    position: absolute;
width: 357px;
height: 19px;
left: 508px;
top: 310px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.t1ext4{
    position: absolute;
width: 386px;
height: 19px;
left: 508px;
top: 360px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.t1ext5{
    position: absolute;
width: 215px;
height: 19px;
left: 508px;
top: 420px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.t1ext6{
    position: absolute;
width: 94px;
height: 19px;
left: 508px;
top: 481px;

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 117.9%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
letter-spacing: -0.005em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.inpok1{
    position: absolute;
width: 209px;
height: 43px;
left: 602px;
top: 566px;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;
background: rgba(225, 223, 223, 0.7);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.inpok18{
    position: absolute;
width: 209px;
height: 43px;
left: 602px;
top: 526px;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 16px;

}