body{
    background: #FFFFFF;
    font-family: 'Montserrat',sans-serif;  
    margin: 0px;
}
.main_div{
     position: relative;
width: 1440px;
height: 1024px;
margin: 0 auto;
background: #FFFFFF;
}
.div_main_header{
    position: absolute;
width: 1440px;
height: 102px;
left: 0px;
top: 0px;

background: rgba(196, 196, 196, 0.2);
}
.logoimg{
    position: absolute;
width: 214px;
height: 38.18px;
left: 150px;
top: 24px;

}
.text1_header{
    position: absolute;
width: 220px;
height: 42px;
left: 1214px;
top: 35px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* identical to box height, or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
/* меню*/
.menu{
 position: absolute;
width: 367px;
height: 393px;
left: 0px;
top: 102px;
}


.text_menu1{
 position: absolute;
width: 207px;
height: 51px;
left: 104px;
top: 88px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;
}
.text_menu2{
  position: absolute;
width: 177px;
height: 51px;
left: 108px;
top: 144px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;
}
.text_menu3{
    position: absolute;
width: 180px;
height: 50.7px;
left: 104px;
top: 210.46px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu4{
    position: absolute;
width: 207px;
height: 50.7px;
left: 104px;
top: 276.43px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu5{
    position: absolute;
width: 145px;
height: 50.7px;
left: 104px;
top: 342.39px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu6{
    position: absolute;
width: 160px;
height: 50.7px;
left: 104px;
top: 408.36px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu7{
    position: absolute;
width: 126px;
height: 50.7px;
left: 104px;
top: 474.33px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu8{
    position: absolute;
width: 218px;
height: 50.7px;
left: 104px;
top: 540.29px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu9{
    position: absolute;
width: 143px;
height: 50.7px;
left: 104px;
top: 604.26px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.menu_color_red_blue{
   position: absolute;
width: 7px;
height: 64px;
left: 360px;
top: 166px;

background: #05B0E7;
}
.img1{
   position: absolute;
left: 2.99%;
right: 94.79%;
top: 10.69%;
bottom: 85.7%;
}
.img2{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 16.97%;
bottom: 79.42%;
}
.img3{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 23.31%;
bottom: 73.09%;
}
.img4{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 29.58%;
bottom: 66.82%;
}
.img5{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 36.1%;
bottom: 60.29%;
}
.img6{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 42.52%;
bottom: 53.88%;

}
.img7{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 33.61%;
bottom: 63.91%;
}
.img8{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 38.12%;
bottom: 59.41%;
}
.img9{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 42.43%;
bottom: 55.09%;

}
.menu_color{
   position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 166px;

background: #4751A6;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color1{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 102px;

background: #312D63;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color3{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 230px;

background: #312D63;
     -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}

.menu_color4{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 294px;

background: #312D63;
       -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color5{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 358px;

background: #312D63;
       -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color6{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 422px;

background: #312D63;
       -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color7{
    position: absolute;
width: 367px;
height: 64px;
left: -1px;
top: 486px;

background: #312D63;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color8{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 550px;

background: #312D63;
     -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color9{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 614px;

background: #312D63;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color9:hover,.menu_color8:hover,.menu_color7:hover,.menu_color6:hover,.menu_color5:hover,.menu_color4:hover,.menu_color3:hover,.menu_color1:hover {
  background:#53ea93;
}
/* конец меню*/
.textproba1{
    position: absolute;
width: 277px;
height: 42px;
left: 672px;
top: 97px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* identical to box height, or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
text-align: left;
border-collapse: collapse;
border-radius: 20px;
box-shadow: 0 0 0 10px #F2906B;
color: #452F21;
    
    
 position: absolute;
width: 607px;
height: 411px;
left: 530px;
top: 359px;

background: rgba(196, 196, 196, 0.3);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
th {
padding: 10px 8px;
background: white;
}
table th:first-child {
border-top-left-radius: 20px;
}
table th:last-child {
border-top-right-radius: 20px;
}
td {
border-top: 10px solid #F2906B;
padding: 8px;
background: white;
}
table td:first-child {
border-bottom-left-radius: 20px;
}
table td:last-child {
border-bottom-right-radius: 20px;
}
.inp2{
    position: absolute;
width: 498px;
height: 43px;
left: 453px;
top: 216px;

background: rgba(196, 196, 196, 0.3);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.inp_text1{
    position: absolute;
width: 291px;
height: 43px;
left: 982px;
top: 216px;

background: rgba(196, 196, 196, 0.3);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.imgADD1{
position: absolute;
left: 90.35%;
right: 6.64%;
top: 21.29%;
bottom: 74.48%;



}