body{
    background: #FFFFFF;
    font-family: 'Montserrat',sans-serif;  
    margin: 0px;
}
.div_min{
    position: relative;
width: 1440px;
height: 1491px;

background: #FFFFFF;
     margin: 0 auto;
}
a{
   text-decoration: none;
} 
a:hover { 
    color: red;
}
/*  header */
.header{
    position: absolute;
width: 1440px;
height: 102px;
left: 0px;
top: 0px;

background: rgba(196, 196, 196, 0.2);
}
.imgLogo{
    position: absolute;
width: 214px;
height: 38.18px;
left: 35px;
top: 21.77px;

}
.imgSautch{
    position: absolute;
width: 24px;
height: 19.92px;
left: 372px;
top: 36.71px;

}
input:focus:not([type=submit]), textarea:focus {
    outline: none;
   // border-bottom: 1px solid #fb8c00;
}
.stringSautch{
    border: none;
 position: absolute;
width: 120px;
height: 26px;
left: 396px;
top: 30px;
    background: rgba(196, 196, 196, 0.01);
    border-bottom: 1px solid #000000;
}
.textName{
    position: absolute;
width: 310px;
height: 25.73px;
left: 924px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 173.9%;
/* or 31px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.ImgHeader{
    position: absolute;
width: 100px;
height: 83px;
left: 1245px;
top: 6px;

background: #C4C4C4;
        border-radius: 50%;
}
.imgSautchPlagen{
    position: absolute;
width: 39px;
height: 24.9px;
left: 1344px;
top: 34.22px;

}
.vspl1{
    position: absolute;
width: 128px;
height: 97px;
left: 1250px;
top: 60px;

background: #FFFFFF;
}
.vspl2{
    position: absolute;
width: 128px;
height: 36px;
left: 1250px;
top: 157px;

background: #C4C4C4;
}
.text1{
    position: absolute;
width: 86px;
height: 23px;
left: 1288px;
top: 60px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 173.9%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text2{
    position: absolute;
width: 90px;
height: 23px;
left: 1286px;
top: 101px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 173.9%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text3{
    position: absolute;
width: 47px;
height: 23px;
left: 1301px;
top: 155px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 173.9%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.imgSautchPlagen1{
    position: absolute;
left: 87.01%;
right: 10.9%;
top: 4.69%;
bottom: 93.69%;


}
.imgSautchPlagen2{
    position: absolute;
left: 87.01%;
right: 10.9%;
top: 7.78%;
bottom: 91.21%;


}
.imgSautchPlagen3{
  position: absolute;
left: 87.01%;

top: 10.57%;
bottom: 84.64%;


transform: rotate(180deg);
}
.imgSautchPlagen22{
    position: absolute;
left: 87.01%;
right: 10.9%;
top: 7.78%;
bottom: 91.21%;


}
/* close header */
/*меню*/
.menu{
    position: absolute;
width: 367px;
height: 576px;
left: 0px;
top: 102px;

background: #312D63;
}


.text_menu1{
    position: absolute;
width: 180px;
height: 50.7px;
left: 104px;
top: 88px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;
}
.text_menu2{
    position: absolute;
width: 153px;
height: 50.7px;
left: 104px;
top: 10.0%;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu3{
    position: absolute;
width: 180px;
height: 50.7px;
left: 104px;
top: 210.46px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu4{
    position: absolute;
width: 207px;
height: 50.7px;
left: 104px;
top: 276.43px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu5{
    position: absolute;
width: 145px;
height: 50.7px;
left: 104px;
top: 342.39px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu6{
    position: absolute;
width: 160px;
height: 50.7px;
left: 104px;
top: 408.36px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu7{
    position: absolute;
width: 126px;
height: 50.7px;
left: 104px;
top: 474.33px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu8{
    position: absolute;
width: 218px;
height: 50.7px;
left: 104px;
top: 540.29px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_menu9{
    position: absolute;
width: 143px;
height: 50.7px;
left: 104px;
top: 604.26px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 173.9%;
/* or 42px */

display: flex;
align-items: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.menu_color_red_blue{
    position: absolute;
width: 7px;
height: 64px;
left: 360px;
top: 165px;

background: #05B0E7;
}
.img1{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 7.34%;
bottom: 90.18%;
}
.img2{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 12.52%;
bottom: 86%;
}
.img3{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 16.01%;
bottom: 81.52%;
}
.img4{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 20.31%;
bottom: 77.21%;
}
.img5{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 24.8%;
bottom: 72.73%;
}
.img6{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 29.2%;
bottom: 68.33%;

}
.img7{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 33.61%;
bottom: 63.91%;
}
.img8{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 38.12%;
bottom: 59.41%;
}
.img9{
    position: absolute;
left: 2.99%;
right: 94.79%;
top: 42.43%;
bottom: 55.09%;

}
.menu_color{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 165px;

background: #4751A6;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color1{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 102px;

background: #312D63;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color3{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 230px;

background: #312D63;
     -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}

.menu_color4{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 294px;

background: #312D63;
       -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color5{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 358px;

background: #312D63;
       -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color6{
    position: absolute;
width: 367px;
height: 64px;
left: -1px;
top: 422px;

background: #312D63;
       -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color7{
    position: absolute;
width: 367px;
height: 64px;
left: -1px;
top: 486px;

background: #312D63;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color8{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 550px;

background: #312D63;
     -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color9{
    position: absolute;
width: 367px;
height: 64px;
left: 0px;
top: 614px;

background: #312D63;
      -webkit-transition: all 1.3s ease;;
  -moz-transition: all 1.3s ease;;
  -o-transition: all 1.3s ease;;
  transition: all 1.3s ease;
}
.menu_color9:hover,.menu_color8:hover,.menu_color7:hover,.menu_color6:hover,.menu_color5:hover,.menu_color4:hover,.menu_color3:hover,.menu_color1:hover {
  background:#53ea93;
}
/* конец меню*/
/*нижнее меню*/
.blocconec{
    position: absolute;
width: 1440px;
height: 276px;
left: 0px;
top: 1215px;

background: radial-gradient(92.28% 1029.66% at 50% 405.95%, rgba(255, 255, 255, 0) 0%, #6E1FDF 100%), radial-gradient(100% 947.94% at 100% 313.68%, #1AC1E6 0.62%, #BE2FCD 100%);
}
.lineaconec{
    position: absolute;
width: 1439.5px;
height: 1px;
left: 0px;
top: 1433.5px;

border: 1px solid rgba(255, 255, 255, 0.5);
}
.text_conec1{
    position: absolute;
width: 90px;
height: 16px;
left: 756px;
top: 1242px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_conec2{
    position: absolute;
width: 192px;
height: 16px;
left: 578px;
top: 1242px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;

}
.text_conec3{
    position: absolute;
width: 281px;
height: 60px;
left: 145px;
top: 1293px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;

color: #000000;
}
.text_conec4{
    position: absolute;
width: 204px;
height: 24px;
left: 153px;
top: 1374px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;

}
.text_conec5{
    position: absolute;
width: 310px;
height: 18px;
left: 153px;
top: 1448px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);
}
.text_conec6{
    position: absolute;
width: 284px;
height: 18px;
left: 486px;
top: 1448px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);

}
.text_conec7{
    position: absolute;
width: 200px;
height: 18px;
left: 959px;
top: 1448px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);
}
.text_conec8{
    position: absolute;
width: 114px;
height: 18px;
left: 1186px;
top: 1448px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;

color: rgba(255, 255, 255, 0.5);

}
.text_conec10{
    position: absolute;
width: 314px;
height: 90px;
left: 1007px;
top: 1251px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;

color: #000000;

}
.img11{
    position: absolute;
width: 214px;
height: 46px;
left: 153px;
top: 1225px;

}
.text_in_textcontnr1{
    color: white;
}
.text_in_textcontnr2{
    color: white;
}
/* конец нижнего меню*/
.text11{
    position: absolute;
width: 162px;
height: 31px;
left: 782px;
top: 119px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 173.9%;
/* or 31px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.text12{
    position: absolute;
width: 142px;
height: 23px;
left: 1241px;
top: 112px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 173.9%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;

}
.img_perecl1{
    position: absolute;
left: 93.75%;
right: 4.17%;
top: 10.46%;
bottom: 89.55%;
}
.text_input_message1{
    position: absolute;
width: 939px;
height: 128px;
left: 420px;
top: 994px;
 margin-left: 50px auto 0;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 15px;
    
}
textarea {
  resize: none;
    max-height: 128px;
   background: rgba(255, 255, 255, 0.4);
    
}
.button_chating{
    position: absolute;
width: 214px;
height: 39px;
left: 1145px;
top: 1140px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 15px;
}